.product-card-c {
  display: flex;
  flex-direction: column;
  width: 40%;

  padding: 2%;
  flex: 1 16%;

  background-color: #fff;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
}

.product-image-c img {
  width: 50%;
  margin-left: 22%;
}

.product-info-c {
  width: 50%;
  margin-top: auto;
  padding-top: 20px;
  text-align: center;
  margin-left: 22%;
}

.product-info-c h4 {
  color: blue;
  font-weight: bolder;
}

@media (max-width: 920px) {
  .product-card {
    flex: 1 21%;
  }

  .products .product-card:first-child,
  .products .product-card:nth-child(2) {
    flex: 2 46%;
  }
}

.minus-button {
  border: 2px solid lightgrey;
  background-color: #fff;
  font-size: 14px;
  height: 30px;
  width: 70px;
  cursor: pointer;
  padding: 0px;
  margin-right: 260px;
}

.active {
  text-decoration: line-through;
}
