.product-card-c {
  display: flex;
  flex-direction: column;
  width: 30%;

  padding: 2%;
  flex: 1 16%;

  background-color: #fff;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
}

.product-image-c img {
  width: 50%;
  margin-left: 20%;
}

.product-info-c {
  width: 50%;
  margin-top: auto;
  padding-top: 20px;
  text-align: center;
  margin-left: 20%;
}

@media (max-width: 920px) {
  .product-card {
    flex: 1 21%;
  }

  .products .product-card:first-child,
  .products .product-card:nth-child(2) {
    flex: 2 46%;
  }
}

.minus-button {
  border: 3px solid lightgrey;
  background-color: #fff;
  font-size: 16px;
  height: 2em;
  width: 2em;
  border-radius: 999px;
  position: relative;
  font-size: 20px;
  cursor: pointer;
}
