.Countdown {
  text-align: center;
}

.Countdown-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Countdown-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Countdown-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Countdown-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.countdown-display {
  position: absolute;
  left: 325px;
  width: 185px;
  top: 65px;
}

.countdown-display h1 {
  color: blue;
  width: 105px;
}
