.cart {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 35%;
  left: 3%;
}

.cart h1 {
  position: absolute;
  font-size: 35px;
  top: -30px;
}

.cart h2 {
  position: relative;
  font-size: 15px;
  margin-top: 5px;
}

.pay-btn {
  padding: 10px;
  color: white;
  font-size: 12px;
  background-color: #3f51b5;
  border-radius: 5%;
  width: 55px;
  height: 12px;
  position: relative;
  cursor: pointer;
  top: 30px;
  left: -130px;
  margin-bottom: 45px;
  text-decoration: none;
}

.pay-btn:hover {
  background-color: #343e80;
}

@media (max-width: 800px) {
  .cart {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 35%;
    left: 3%;
  }
  .cart h1 {
    position: absolute;
    font-size: 25px;
    top: -30px;
  }
  .cart h2 {
    position: relative;
    font-size: 10px;
    margin-top: -3px;
  }
  .cart .pay-btn {
    padding: 5px;
    width: 32px;
    height: 7px;
    font-size: 7px;
    position: relative;
    cursor: pointer;
    top: 12px;
    left: -86px;
  }
}

@media (max-width: 383px) {
  .cart .pay-btn {
    padding: 5px;
    width: 35px;
    height: 7px;
    font-size: 7px;
    position: relative;
    cursor: pointer;
    margin-bottom: 0;
    top: -6px;
    left: 1px;
  }
}
