.admin-btn {
  text-decoration: none;
  position: absolute;
  top: 5px;
  float: left;
}

@media (max-width: 800px) {
  .admin-btn {
    width: 15px;
    height: 20px;
    text-decoration: none;
    position: absolute;
    top: 5px;
    float: left;
  }
}
