.Management {
  color: rgb(187, 34, 34);
  position: relative;
}

.start-sale-btn {
  float: left;
}

.stop-sale-btn {
  float: right;
}

@media (max-width: 408px) {
  .stop-sale-btn {
    bottom: -10px;
    float: left;
  }
}
