.products {
  display: flex;
  flex-wrap: wrap;
  width: 65%;
  position: absolute;
  right: 3%;
}

@media (max-width: 800px) {
  .products {
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    height: 20%;
    position: absolute;
    right: 3%;
  }
}
